# Add your local requirements below
# Dependencies for cluster orchestration
prefect>=3,<4
# Prefect 3.x expects newer jsonschema than Specify pin
jsonschema>=4.24,<5
boto3

# Database Drivers
oracledb
mysqlclient

# Data Analysis & Interactive Tools
pandas
